.orderSummary-container{
    position: relative;
    margin: 0;
    top:60px;
    left:0;
    color: var(--color-text);

    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.orderSummary-section{
    width:80vw;
    max-width: 600px;
    margin-top: 1rem;
    
}