.profile-container{
    position: relative;
    margin: 0;
    top:60px;
    left:0;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 2rem;
}
.profile-card{
    background-color: var(--color-bg);
    border-radius: 5px;
    padding-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    width: 270px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.profile-header{
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 270;
    background-color: cornflowerblue;
    height: auto;
    text-align: center;
    font-size: 1.4rem;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.profile-content{
    margin-top: 1rem;
    
    width: 270px;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.profile-title{
    width: 270px;
    padding-left: 1rem;
    text-align: left;
}

.profile-detail{
    background-color: cornflowerblue;
    border-radius: 5px;
    margin-left: 1rem;
    padding: 5px;
}

.profile-footer{
    width: 270px;
    text-align: center;
}
.editBtn{
    margin-top: 1rem;
    width: 150px;
}